.col-w-300 {
    width: 300px;
}

.card-image {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 0px auto;
    border-radius: 50%;
    /* border: 3px solid blue */
}

.card-text {
    font-size: 15px;
}

/* .card-body a i:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
} */