nav {
    background-color: #264155;
}

footer {
    background-color: #264155;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #66f;
    text-decoration: none;
}

.test-content {
    height: 1000px;
    width: 1000px;
    /* height: 100%; */
    background-image: linear-gradient(red, blue);
}

/*---Media Queries --*/
/* Small (sm) and Extra-small (xs) devices (phones, 768px and down) */
/* @media (max-width: 768px) {
    .col-calender {
        order: 2;
    }

    .col-graph {
        order: 1;
    }
} */

/* Large (lg) devices (992px and up) */
@media (min-width: 992px) {
    /* .col-calender {
        order: 1;
    }

    .col-graph {
        order: 2;
    } */

    .scroll-wrapper,
    .scroll-wrapper-news {
        position: relative;
        height: 85vh;
    }

    .scroll-wrapper-news {
        width: 350px;
    }

    .scroll-col {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

/* Scroll Bar */
.scroll-col::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-left: 0;
    /* background: rgba(0, 0, 0, 0.1); */
    background: white;
}

.scroll-col::-webkit-scrollbar-track {
    background: none;
}

.scroll-col::-webkit-scrollbar-thumb {
    background: #264155;
    border-radius: 0;
}
