html {
    min-width: 350px !important;
}

nav {
    background-color: #264155;
}

.content {
    min-height: 80vh;
}

footer {
    background-color: #264155;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #66f;
    text-decoration: none;
}

.test-content {
    height: 1000px;
    width: 1000px;
    /* height: 100%; */
    background-image: linear-gradient(red, blue);
}

/* Scroll Bar */
.scroll-col::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-left: 0;
    background: rgba(0, 0, 0, 0);
}

.scroll-col::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.scroll-col::-webkit-scrollbar-thumb {
    background: #264155;
    border-radius: 10px;
}